# Ambiente da aplicação
ASPNETCORE_ENVIRONMENT=Development

# Banco
ConnectionStrings__DefaultConnection=Data Source=essenzstore.db

# Email SMTP
Email__Host=smtp.gmail.com
Email__Port=587
Email__Username=seu-email@gmail.com
Email__Password=sua-senha-ou-app-password
Email__From=contato@sualoja.com
Email__FromName=Essenz Store
Email__EnableSsl=true

# Mercado Pago
MercadoPago__AccessToken=SEU_ACCESS_TOKEN
MercadoPago__PublicKey=SUA_PUBLIC_KEY

# Loja
Store__Nome=ESSENZ STORE
Store__Slogan=Menos pose, mais essência.
Store__Whatsapp=5548999999999
Store__WhatsappDisplay=(48) 99999-9999
Store__FreteGratisValor=299
Store__Email=contato@sualoja.com